<html>
    <head>
        <title>Headlines</title>
        <style>
        html {
            font-family: "Helvetica";
            background: white;
        }

        body {
            background: lightgrey;
            max-width: 900px;
            margin: 0 auto;

        }

        #header {
            padding-top: 5;
            background: lightsteelblue;
        }

        #inner-header {
            padding-left: 10;
        }

        #main{
            padding-left: 10;

        }

        input[type="text"], select {
            color: grey;
            border: 1px solid lightsteelblue;
            height: 30px;
            line-height:15px;
            margin: 2px 6px 16px 0px;
        
        }
        input[type="submit"] {
            padding: 5px 10px 5px 10px;
            color: black;
            background: lightsteelblue;
            border: none;
            box-shadow: 1px 1px 1px #4C6E91;
        }

        input[type="submit"]:hover{
            background: steelblue;
        }


        </style>
    </head>
    
    <body>
        <div id="header">
            <div id="inner-header">
                <h1>Welcome!</h1>
                <p>Headlines. Currency. Weather.</p>
            </div>
        <hr />
        </div>
        <div id="main">
            <h2>Current Weather </h2>
            <form>
                <input type='text' name='city' placeholder="weather search">
                <input type='submit' value'Submit'>
            </form>

            <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
            <p>{{weather.description}} | {{weather.temperature}}&#8457;</p>
        
            <h2>Currency</h2>
            <form>
                from: <select name='currency_from'>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                        <option value="ZAR">ZAR</option>
                    </select>

                to: <select name='currency_to'>
                        <option value="USD">USD</option>
                        <option value='GBP'>GBP</option>
                        <option value="EUR">EUR</option>
                        <option value='ZAR'>ZAR</option>
                    </select>
                    <input type="submit" value="Submit">
            </form>

            1 {{currency_from}} = {{currency_to}} {{rate}}

            <h2>News</h2>
            <form>
                News Topic: <select name='publication'>
                                <option value="bbc">Senior Blogs</option>
                                <option value="cnn">Jerusalem News</option>
                                <option value="fox">Fox News</option>
                                <option value="iol">Islamic Terrorism</option>
                            </select>
                            <input type="submit" name="Submit">

            </form>



        
            {% for article in articles %}
                <b><a href="{{article.link}}">{{article.title}}</a></b><br />
                <i>{{article.published}}</i><br />
                <p>{{article.summary}}</p> 
                <hr />
            {% endfor %}
     
      </body>
</html>
